body {
    max-width: 1000px;
}

header {
    padding-bottom: 20px;
    padding-top: 10px;
}

.text2 {

    display: inline;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#one {
    padding-left: 105px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: x-large;
}
#two {
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: x-small;
}
#three{
    font-size: x-small;
}
#four{
    font-size: x-small;
}
#five{
    font-size: x-small;
}
#six{
    font-size: x-small;
    padding-left: 250px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: left;
}





.custom1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-top: 50px;
}
.custom2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-bottom: 50px;
}

.insta {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}


.button {
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}



.images {
    padding-top: 60px;
    border-top:  thin solid black;
    border-bottom: thin solid black;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 200px 200px 200px 200px;
}
#left {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
#right1 {
    grid-row: 1 / span 2;
    grid-column: 3;
}
#right2{
    grid-row: 1 / span 2;
    grid-column: 4;
}
#right3{
    grid-row: 3 / span 4;
    grid-column: 3;
}
#right4{
    grid-row: 3 / span 4;
    grid-column: 4;
}
footer {
    border-top: thin solid black;
    text-align: center;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}